/* .check {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

#content {
    margin: auto;
    margin-top: 75px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: blue;
}

.secretNumber {
    background-color: white;
    display: flex;
    justify-content: center;
    width: 2em;
    margin-bottom: 10px;
    height: 2em;
}